$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$text-font: Roboto;
$title-font: Shrikhand;
$breakpointpc: 1024px;

body {
  margin: 0 auto;
  background: white;

  a {
    text-decoration: none;
    color: black;
  }

  #wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 100vw;
    #loader-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      z-index: 9999;
      animation: fadeOut 3s forwards;
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          display: none;
        }
      }
    }

    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80px;
      height: 80px;
      margin: -50px 0 0 -50px;
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid $primary-color;
      animation: spin 2s linear infinite;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      background: white;

      @media (min-width: $breakpointpc) {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
    .localisation {
      display: flex;
      justify-content: center;
      font-family: $text-font;
      font-weight: bold;
      align-items: center;
      margin-top: 10px;
      background: #eaeaea;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      i {
        margin-right: 25px;
      }
      @media (min-width: $breakpointpc) {
        box-shadow: none;
      }
    }

    .slogan {
      padding-bottom: 50px;
      padding-top: 50px;
      background: #f6f6f6;
      .sub-header {
        margin-left: 42px;
        margin-right: 42px;
        .title {
          font-size: 20px;
          text-align: center;
          h1 {
            margin-bottom: 0;
            font-family: $text-font;
          }
        }
        .sub-title {
          text-align: center;
          font-size: 14px;
          font-family: $text-font;
          font-weight: lighter;
        }
        .btn-explore {
          display: flex;
          justify-content: center;
          .button {
            padding: 15px;
            background: linear-gradient(#ad5fdc, #df6fdb);
            border-radius: 150px;
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-family: $text-font;
            margin-top: 20px;
            transition: box-shadow 0.5s, background 1s;

            &:hover {
              box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
              background: linear-gradient(#c97efc, #f0a1fc);
            }
          }
        }
      }
    }
    .section-filters {
      background: #ffffff;
      font-family: $text-font;
      padding-bottom: 70px;
      padding-top: 40px;
      width: 100%;
      .wrapper-filters {
        @media (min-width: $breakpointpc) {
          margin-left: 180px;
          margin-right: 180px;
        }
        .section-title {
          margin-left: 20px;
          @media (min-width: $breakpointpc) {
            margin-bottom: 25px;
          }
        }
        .filter-container {
          margin-left: 20px;
          width: 92%;
          display: flex;
          flex-direction: column;
          @media (min-width: $breakpointpc) {
            display: flex;
            flex-direction: row;
            width: 98%;
            justify-content: space-between;
          }

          .filters {
            background: #8080802b;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            width: 100%;
            border-radius: 12px;
            height: 72px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: left;
            font-family: $text-font;
            font-size: 16px;

            @media (min-width: $breakpointpc) {
              width: 30%;
            }

            &:not(:last-child) {
              margin-bottom: 25px;
            }
            .number {
              position: absolute;
              left: 8px;
              background: $primary-color;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-family: $text-font;
              font-weight: lighter;
              font-size: 12px;

              @media (min-width: $breakpointpc) {
                position: inherit;
                margin-left: -12px;
              }
            }
            .icone {
              margin-left: 50px;
              color: gray;
              font-size: 22px;

              &.last-one {
                color: $primary-color;
              }
            }
            .filter-title {
              margin-left: 35px;
            }
          }
        }
      }
    }
    .restaurant-section {
      background: #f6f6f6;
      width: 100%;
      @media (min-width: $breakpointpc) {
        display: flex;
        flex-direction: column;
      }
      .wrapper-restaurant {
        @media (min-width: $breakpointpc) {
          margin-left: 180px;
          margin-right: 180px;
        }
        .restaurant-title {
          font-family: $text-font;
          padding-top: 50px;
          padding-left: 20px;
        }
        .card-parent {
          margin-left: 20px;
          margin-right: 20px;
          @media (min-width: $breakpointpc) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
          }
        }
        .card-container {
          margin-top: 5px;
          &:last-child {
            padding-bottom: 50px;
          }
          @media (min-width: $breakpointpc) {
            width: 48%;
            margin-bottom: 70px;
          }
          .card {
            background: white;
            border-radius: 20px;
            border-radius: 20px;
            padding-bottom: 5px;
            margin-top: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            .restaurant-img {
              height: 202px;
              position: relative;
              width: 100%;
              border-top-right-radius: 20px;
              border-top-left-radius: 20px;
              object-fit: cover;

              .new {
                position: absolute;
                color: #139274;
                border-radius: 5px;
                top: 5px;
                font-family: $text-font;
                right: 10px;
                background: #99e2d0;
                padding: 5px;
              }
            }
            .restaurant-name {
              font-family: $text-font;
              display: flex;
              font-weight: bold;
              font-size: 15px;
              margin-left: 10px;
              justify-content: space-between;
              align-items: baseline;
              @media (min-width: $breakpointpc) {
                padding: 0px;
              }
              h3 {
                margin-bottom: 0;
                padding-top: 0;
                padding-left: 2px;
              }
              p {
                margin: 0;
                padding-top: 2px;
                padding-bottom: 15px;
                padding-left: 2px;
              }
              .name_heart {
                .heart-wrapper {
                  position: relative;
                  padding-bottom: 25px;

                  .heart-checkbox {
                    display: none;

                    &:checked + .heart-label .heart {
                      color: $primary-color;
                    }
                  }
                  .heart-label {
                    cursor: pointer;
                    .heart,
                    .heart-border {
                      position: absolute;
                      top: 50%;
                      right: 10px;
                      font-size: 25px;
                    }

                    .heart-border {
                      color: black;
                      z-index: 1;
                    }

                    .heart {
                      color: transparent;
                      z-index: 2;
                      &:hover {
                        color: $primary-color;
                        transition: color 0.5s ease;
                      }
                    }
                  }
                }
              }
              .restaurant-place {
                font-weight: lighter;
                p {
                  margin-top: 2px;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      background: black;
      padding-left: 20px;
      .footer-container {
        @media (min-width: $breakpointpc) {
          display: flex;
          flex-direction: row-reverse;
          align-items: baseline;
        }
        .footer-logo {
          padding-top: 2px;
          @media (min-width: $breakpointpc) {
            padding-right: 25px;
          }

          .logo-text {
            color: white;
            font-family: $title-font;
            font-size: 25px;
          }
        }
        .footer-list-container {
          padding-bottom: 55px;

          .footer-list {
            margin-top: 0;
            padding-left: 0;
            @media (min-width: $breakpointpc) {
              display: flex;
              gap: 30px;
              margin-right: 16px;
            }
            .footer-li {
              color: white;
              list-style: none;
              font-size: 18px;
              font-family: $text-font;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
              i {
                margin-right: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
.TEST {
  background: red;
}
