body {
  margin: 0 auto;
  background: white;
}
body a {
  text-decoration: none;
  color: black;
}
body #wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;
}
body #wrapper #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  animation: fadeOut 3s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
body #wrapper #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin: -50px 0 0 -50px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #9356dc;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #wrapper .logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: white;
}
@media (min-width: 1024px) {
  body #wrapper .logo {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
body #wrapper .localisation {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
  background: #eaeaea;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
body #wrapper .localisation i {
  margin-right: 25px;
}
@media (min-width: 1024px) {
  body #wrapper .localisation {
    box-shadow: none;
  }
}
body #wrapper .slogan {
  padding-bottom: 50px;
  padding-top: 50px;
  background: #f6f6f6;
}
body #wrapper .slogan .sub-header {
  margin-left: 42px;
  margin-right: 42px;
}
body #wrapper .slogan .sub-header .title {
  font-size: 20px;
  text-align: center;
}
body #wrapper .slogan .sub-header .title h1 {
  margin-bottom: 0;
  font-family: Roboto;
}
body #wrapper .slogan .sub-header .sub-title {
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-weight: lighter;
}
body #wrapper .slogan .sub-header .btn-explore {
  display: flex;
  justify-content: center;
}
body #wrapper .slogan .sub-header .btn-explore .button {
  padding: 15px;
  background: linear-gradient(#ad5fdc, #df6fdb);
  border-radius: 150px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  margin-top: 20px;
  transition: box-shadow 0.5s, background 1s;
}
body #wrapper .slogan .sub-header .btn-explore .button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background: linear-gradient(#c97efc, #f0a1fc);
}
body #wrapper .section-filters {
  background: #ffffff;
  font-family: Roboto;
  padding-bottom: 70px;
  padding-top: 40px;
  width: 100%;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .wrapper-filters {
    margin-left: 180px;
    margin-right: 180px;
  }
}
body #wrapper .section-filters .wrapper-filters .section-title {
  margin-left: 20px;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .wrapper-filters .section-title {
    margin-bottom: 25px;
  }
}
body #wrapper .section-filters .wrapper-filters .filter-container {
  margin-left: 20px;
  width: 92%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .wrapper-filters .filter-container {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
  }
}
body #wrapper .section-filters .wrapper-filters .filter-container .filters {
  background: rgba(128, 128, 128, 0.168627451);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: 12px;
  height: 72px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: Roboto;
  font-size: 16px;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .wrapper-filters .filter-container .filters {
    width: 30%;
  }
}
body #wrapper .section-filters .wrapper-filters .filter-container .filters:not(:last-child) {
  margin-bottom: 25px;
}
body #wrapper .section-filters .wrapper-filters .filter-container .filters .number {
  position: absolute;
  left: 8px;
  background: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 12px;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .wrapper-filters .filter-container .filters .number {
    position: inherit;
    margin-left: -12px;
  }
}
body #wrapper .section-filters .wrapper-filters .filter-container .filters .icone {
  margin-left: 50px;
  color: gray;
  font-size: 22px;
}
body #wrapper .section-filters .wrapper-filters .filter-container .filters .icone.last-one {
  color: #9356dc;
}
body #wrapper .section-filters .wrapper-filters .filter-container .filters .filter-title {
  margin-left: 35px;
}
body #wrapper .restaurant-section {
  background: #f6f6f6;
  width: 100%;
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section .wrapper-restaurant {
    margin-left: 180px;
    margin-right: 180px;
  }
}
body #wrapper .restaurant-section .wrapper-restaurant .restaurant-title {
  font-family: Roboto;
  padding-top: 50px;
  padding-left: 20px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-parent {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section .wrapper-restaurant .card-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container {
  margin-top: 5px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container:last-child {
  padding-bottom: 50px;
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section .wrapper-restaurant .card-container {
    width: 48%;
    margin-bottom: 70px;
  }
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card {
  background: white;
  border-radius: 20px;
  border-radius: 20px;
  padding-bottom: 5px;
  margin-top: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-img {
  height: 202px;
  position: relative;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-img .new {
  position: absolute;
  color: #139274;
  border-radius: 5px;
  top: 5px;
  font-family: Roboto;
  right: 10px;
  background: #99e2d0;
  padding: 5px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name {
  font-family: Roboto;
  display: flex;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  justify-content: space-between;
  align-items: baseline;
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name {
    padding: 0px;
  }
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name h3 {
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 2px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name p {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 15px;
  padding-left: 2px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper {
  position: relative;
  padding-bottom: 25px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-checkbox {
  display: none;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-checkbox:checked + .heart-label .heart {
  color: #9356dc;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-label {
  cursor: pointer;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-label .heart,
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-label .heart-border {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 25px;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-label .heart-border {
  color: black;
  z-index: 1;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-label .heart {
  color: transparent;
  z-index: 2;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .name_heart .heart-wrapper .heart-label .heart:hover {
  color: #9356dc;
  transition: color 0.5s ease;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .restaurant-place {
  font-weight: lighter;
}
body #wrapper .restaurant-section .wrapper-restaurant .card-container .card .restaurant-name .restaurant-place p {
  margin-top: 2px;
}
body #wrapper .footer {
  background: black;
  padding-left: 20px;
}
@media (min-width: 1024px) {
  body #wrapper .footer .footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}
body #wrapper .footer .footer-container .footer-logo {
  padding-top: 2px;
}
@media (min-width: 1024px) {
  body #wrapper .footer .footer-container .footer-logo {
    padding-right: 25px;
  }
}
body #wrapper .footer .footer-container .footer-logo .logo-text {
  color: white;
  font-family: Shrikhand;
  font-size: 25px;
}
body #wrapper .footer .footer-container .footer-list-container {
  padding-bottom: 55px;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list {
  margin-top: 0;
  padding-left: 0;
}
@media (min-width: 1024px) {
  body #wrapper .footer .footer-container .footer-list-container .footer-list {
    display: flex;
    gap: 30px;
    margin-right: 16px;
  }
}
body #wrapper .footer .footer-container .footer-list-container .footer-list .footer-li {
  color: white;
  list-style: none;
  font-size: 18px;
  font-family: Roboto;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list .footer-li:not(:last-child) {
  margin-bottom: 10px;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list .footer-li i {
  margin-right: 5px;
  font-size: 14px;
}

.TEST {
  background: red;
}/*# sourceMappingURL=index.css.map */