body {
  margin: 0;
  background: white;
}
body #wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;
}
body #wrapper #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  animation: fadeOut 3s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
body #wrapper #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #wrapper .logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: white;
}
@media (min-width: 1024px) {
  body #wrapper .logo {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
body #wrapper .localisation {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
  background: #bcbcbc;
  box-shadow: -4px -3px 1px 0px rgba(0, 0, 0, 0.25);
}
body #wrapper .localisation i {
  margin-right: 25px;
}
@media (min-width: 1024px) {
  body #wrapper .localisation {
    box-shadow: none;
  }
}
body #wrapper .slogan {
  padding-bottom: 50px;
  padding-top: 50px;
  background: rgba(188, 188, 188, 0.3215686275);
}
body #wrapper .slogan .sub-header {
  margin-left: 42px;
  margin-right: 42px;
}
body #wrapper .slogan .sub-header .title {
  font-size: 20px;
  text-align: center;
}
body #wrapper .slogan .sub-header .title h1 {
  margin-bottom: 0;
  font-family: Roboto;
}
body #wrapper .slogan .sub-header .sub-title {
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-weight: lighter;
}
body #wrapper .slogan .sub-header .btn-explore {
  display: flex;
  justify-content: center;
}
body #wrapper .slogan .sub-header .btn-explore .button {
  padding: 15px;
  background: linear-gradient(#ff00b9, #8a0073);
  border-radius: 150px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  margin-top: 20px;
  transition: box-shadow 0.5s, background 0.5s;
}
body #wrapper .slogan .sub-header .btn-explore .button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  background: linear-gradient(rgba(255, 0, 185, 0.5803921569), rgba(138, 0, 115, 0.831372549));
}
body #wrapper .section-filters {
  background: white;
  font-family: Roboto;
  padding-bottom: 70px;
  padding-top: 40px;
  width: 100%;
}
body #wrapper .section-filters .section-title {
  margin-left: 20px;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .section-title {
    margin-left: 50px;
  }
}
body #wrapper .section-filters .filter-container {
  margin-left: 20px;
  width: 92%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .filter-container {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
body #wrapper .section-filters .filter-container .filters {
  background: rgba(128, 128, 128, 0.168627451);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  border-radius: 12px;
  height: 72px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: Roboto;
  font-size: 16px;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .filter-container .filters {
    width: 30%;
  }
}
body #wrapper .section-filters .filter-container .filters:not(:last-child) {
  margin-bottom: 25px;
}
body #wrapper .section-filters .filter-container .filters .number {
  position: absolute;
  left: 8px;
  background: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 12px;
}
@media (min-width: 1024px) {
  body #wrapper .section-filters .filter-container .filters .number {
    position: inherit;
    margin-left: -12px;
  }
}
body #wrapper .section-filters .filter-container .filters .icone {
  margin-left: 50px;
  color: gray;
  font-size: 22px;
}
body #wrapper .section-filters .filter-container .filters .icone.last-one {
  color: #9356DC;
}
body #wrapper .section-filters .filter-container .filters .filter-title {
  margin-left: 35px;
}
body #wrapper .restaurant-section {
  background: #EAEAEA;
  width: 100%;
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
body #wrapper .restaurant-section .restaurant-title {
  font-family: Roboto;
  padding-top: 50px;
  padding-left: 20px;
}
body #wrapper .restaurant-section .card-container {
  margin-top: 5px;
  margin-left: 20px;
}
body #wrapper .restaurant-section .card-container:last-child {
  padding-bottom: 50px;
}
body #wrapper .restaurant-section .card-container .card {
  background: white;
  border-radius: 20px;
  border-radius: 20px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  body #wrapper .restaurant-section .card-container .card {
    width: 33%;
  }
}
body #wrapper .restaurant-section .card-container .card .restaurant-img {
  height: 202px;
  position: relative;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
body #wrapper .restaurant-section .card-container .card .restaurant-img .new {
  position: absolute;
  color: #139274;
  border-radius: 5px;
  top: 5px;
  font-family: Roboto;
  right: 10px;
  background: #99E2d0;
  padding: 5px;
}
body #wrapper .restaurant-section .card-container .card .restaurant-name {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}
body #wrapper .restaurant-section .card-container .card .restaurant-name h3 {
  margin-bottom: 0;
}
body #wrapper .restaurant-section .card-container .card .restaurant-name .name_heart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
body #wrapper .restaurant-section .card-container .card .restaurant-name .name_heart .heart {
  position: absolute;
  top: 70%;
  font-size: 25px;
  right: 10px;
}
body #wrapper .restaurant-section .card-container .card .restaurant-name .restaurant-place {
  font-weight: lighter;
}
body #wrapper .restaurant-section .card-container .card .restaurant-name .restaurant-place p {
  margin-top: 2px;
}
body #wrapper .footer {
  background: black;
  padding-left: 20px;
}
body #wrapper .footer .footer-container {
  min-height: calc(100vh - 500px);
}
body #wrapper .footer .footer-container .footer-logo {
  padding-top: 2px;
}
body #wrapper .footer .footer-container .footer-logo .logo-text {
  color: white;
  font-family: Shrikhand;
  font-size: 25px;
}
body #wrapper .footer .footer-container .footer-list-container {
  padding-bottom: 55px;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list {
  margin-top: 0;
  padding-left: 0;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list .footer-li {
  color: white;
  list-style: none;
  font-size: 18px;
  font-family: Roboto;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list .footer-li:not(:last-child) {
  margin-bottom: 10px;
}
body #wrapper .footer .footer-container .footer-list-container .footer-list .footer-li i {
  margin-right: 5px;
  font-size: 14px;
}

/*# sourceMappingURL=index.css.map */
